.classpath
.project
.settings
target
/target/
.DS_Store
.tern-project
.metadata
.tmp
.Trashes
.idea
.nbproject
*.iml

frontend/node_modules
frontend/dist
frontend/test/temp
frontend/coverage
.sass-cache
frontend/app/vendor
.tmp
frontend/test/scripts/

src/main/resources/META-INF/persistence.xml
src/main/resources/config.properties