.classpath
.project
.settings
target
/target/
.DS_Store
.tern-project
.metadata
.tmp
.Trashes
.idea
.nbproject
*.iml

frontend/node_modules
frontend/dist
frontend/test/temp
.sass-cache
frontend/app/vendor
.tmp
frontend/test/scripts/

